html, body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-color: #ededed;
}
h1 {
    text-align: center;
    margin: auto;
}
.marginauto0 {
    margin: auto 0;
}
.content {
    padding: 15px 0 0;
}
#top {
    min-height: 100px;
    border-bottom: solid;
    border-width: 1px;
    display: flex;
}
.content-box {
    display: flex;
}
.top-text {
    margin: auto 0;
}
.side {
    display: flex;
}
.green {
    color: #1cc602;
}
.red {
    color: #fa251e !important;
    font-weight: bold;
}
.element {
    display: flex;
    padding:6px 0;
}
#bottom {
    padding: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: auto
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
td {
    text-align: center;
}
tr:nth-child(even) {
    background-color: #ebebeb;
}
.addservers {
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    padding: 5px;
    height: auto;
}
tbody select {
    font-size: 16px;
}
#destroy {
    margin: 40px auto 15px;
    height: auto!important;
    color: white;
    background-color: red;
    border-radius: 6px;
    border: solid black;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    cursor: pointer;
}
input {
    height: 16px;
    margin: auto auto auto 8px;
    border: none;
}
.input-group {
    margin: 5px 0;
    display: flex;
}
.input-group input {
    height: auto;
    padding: 6px;
    border-radius: 6px;
}
.btn, input[type="submit"] {
    margin: auto 0 auto auto;
    padding: 5px 10px;
    background-color: white;
    border: solid;
    border-radius: 6px;
    border-width: 1px;
    height: auto;
}
#register {
    display: flex;
}
#registration {
    margin: auto;
}
@media only screen and (min-width: 850px) {
    .conf {
        display: flex;
    }
    #left {
        border-right: solid;
        width: 40%;
    }
    #right {
        padding-left: 30px;
        width: 50%;
    }
}
@media only screen and (max-width: 850px) {
    .conf {
        display: block;
    }
    #left {
        border: none;
    }
}