@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Mono');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
th {
    color: white;
}
/* link hover start */
a.white-hover {
    color: white;
    text-decoration: none;
    position: relative
}
a.black-hover {
    color: black;
    text-decoration: none;
    position: relative
}
a.white-hover:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid white;
    transition: .6s
}
a.black-hover:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid #000;
    transition: .6s
}
a:hover:after{
    width: 100%
}
/* link hover end */
::marker{ display:none; }summary{ list-style: none; cursor: pointer }
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
:focus {
    outline: none;
}
details summary::-webkit-details-marker {
    display:none;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    min-height: 100vh;
    text-align: center;
    font-family: var(--font-normal);
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;

}
.movediv {
    width: 100%;
}
.mcmovedivhide {
    display: none;
}
.flex {
    display: flex;
}
#nav {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    position: sticky;
    top: 0;
    height:58px;
    z-index: 10;
}
#nav ul {
    background-color: #1D1D1F !important;
    list-style-type: none;
    text-align: left;
    background-color: #171c24ff;
    display: flex;
    height: 58px;
}
#nav ul li {
    display: inline;
}
ul li a {
    display: inline-block;
    margin: 14px 16px;
    text-decoration: none;
    font-family: var(--font-normal);
    color: white;
}
#nav .login {
    display: flex;
    justify-content: center;
}
.login .button {
    margin: auto 13px;
    display: inline-block;
    text-decoration: none;
    font-family: var(--font-normal);
    color: white;
}
.user-avater {
    height: calc(100% - 10px);
    border-radius: 4px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
    font-family: var(--font-normal);
    font-size: 17px;
    text-align: right;
}

.dropdown-content a:hover {background-color: #dcdcdc;}

.dropdown:hover .dropdown-content {
    display: block;
}
.white-inftext {
    color: white;
    font-size: x-large;
}
section {
    margin-bottom: var(--server-spacing);
    border-radius: 4px;
}
.container {
    width: var(--server-width);
    margin: auto;
    padding-top: 50px;
}
.status-letter-online, .status-letter-offline {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-weight: bold;
    font-size: 13px;
    height: 112px;
}
.status-letter-online {
    display: block;
}
.status-letter-offline {
    display: none;
}
.status_icon_onl {
    width: 0.8rem;
    height: 112px;
    padding: 0;
    margin: 0;
    border-radius: .125rem 0 0 .125rem;
    float: left;
}
.status_cell {
    width: 7%;
}
.connectlink {
    line-height: 19px;
}
.connectlink_cell {
    width: 15%;
}
.connectlink_cell a {
    text-decoration: none;
    position: relative;
}
.servername_cell {
    width: 56%;
    letter-spacing: 1px;
}
.players_cell {
    width: 11%;
}
.server_list_table {
    width: 100%;
    font-family: var(--font-normal);
}
.server_list_table_top th {
    font-weight: normal;
    font-size: 23px;
    box-sizing: border-box;
    font-family: var(--font-normal);
}
.players_numeric {
    font-size: 25px;
    font-weight: var(--players-weight);
    font-family: Helvetica Neue, sans-serif;
}
.I {
    height: 275px;
}
.I.valheim {
    min-width:330px;
}
.II {
    text-align: left;
    width: 200%;
    padding: 4px 7px 0;
}
.II.csgo th {
    font-weight: 600;
}
.II.csgo tbody {
    display: block;
    overflow-y: scroll;
    max-height: 166px;
}
.II.csgo td.name {
    max-width: 340px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.II.csgo td.value {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}
.II.csgo table tr {
    display: table;
    width: 100%;
}
.IV {
    min-width: 215px;
    max-width: 215px;
    padding: 0 4px 0 0;
}
.IV p {
    font-size: 20px;
    font-weight: 800;
}
.IV .scroll {
    height: 247px;
    border-style: solid;
    border-width: 2px;
    overflow-y: scroll;
    padding: 0 7px;
    border-radius: 4px;
}
.canvasparent {
    height: 120px!important;
}
.vchartdiv {
    background-color: #1D1D1F;
    width: 195px;
    padding: 12px 10px 10px 10px;
    border-radius: 4px;
}
.vchartdiv.valheim {
    width:320px;
}
.vchartdiv .servername p {
    font-family: Helvetica, serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: white;
    margin: 0 0 8px 0;
    letter-spacing: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 32px;
}
.vchartdiv .connectlink.vchart {
    display: flex;
    justify-content: center;
}
.vchartdiv .connectlink a{
    color: #2e87ff;
    font-family: Helvetica,serif;
    font-size: 15px;
}
.vchartdiv .items {
    border-bottom: solid;
    border-color: rgb(70,70,70);
    margin: 0 0 8px 0;
    padding: 5px 0;

}
.vchartdiv .items img {
    height: 25px;
    padding: 5px 2px 5px 5px;
}
.vchartdiv .items p, .version {
    margin:auto 0!important;
    font-family: Helvetica,serif!important;
    font-size: 14px!important;
    letter-spacing: normal!important;
    color:white!important;
    letter-spacing: normal!important;
    text-align: left!important;
    padding: 5px 0!important;
}
.vchartdiv p {
    font-family: var(--font-banner);
    font-size: 16px;
    font-stretch: expanded;
    margin: auto;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
.tab {
    padding: 4px;
    -ms-user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    user-select: auto;
}
.map {
    border-radius: 8px;
    box-sizing: border-box;
    height: 234px;
}
.I {
    width: 234px;
}
.mcheads {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content:flex-start;
}
.mcheads .mchead {
    display: grid;
    width: 95px;
    padding-bottom: 5px;
}
.mcheads .mchead img {
    width: 60px;
    padding: 3px;
    margin: 0 auto;
}
.mcheads .mchead .name {
    text-align: center;
    max-width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 28px;
    word-break: break-word;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.mapname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 1700px) {
    .container {width: 75%;}
}
@media only screen and (min-width: 1400px) {
    .csmovedivhide {display: none}
    .II.csgo, .II.csgo table {width: 100%;}
}
@media only screen and (max-width: 1353px) {
    .II.csgo table {width: 100%;}
    .II.csgo td.name {max-width: 300px;}

}
@media only screen and (max-width: 1280px) {
    .map {height: 220px}
    .I {width: 220px;}
    .II.csgo td.name {max-width: 200px;}
}
@media only screen and (max-width: 1200px) {
    .map {height: 200px;}
    .I {width: 200px;}
    .IV {min-width: 190px}
}
@media only screen and (max-width: 1130px) {
    .II {min-width: 180px}
    #twitter-widget-0 {width:300px!important;}
    .I.valheim {min-width:300px!important;}
}
@media only screen and (max-width: 1024px) {
    .map {height: 180px}
    .I {width: 180px;}
    .IV {min-width: 165px;}
    .vchartdiv {padding: 12px 5px 10px 5px;}
    #twitter-widget-0 {width:260px!important;}
    .I.valheim {min-width:260px!important;}
}
@media only screen and (max-width: 1000px) {
    .vchartdiv {padding: 12px 5px 10px 5px;}
    #twitter-widget-0 {width:240px!important;}
    .I.valheim {min-width:240px!important;}
    .vchartdiv.valheim {width:310px;!important;}
}
@media only screen and (max-width: 950px) {
    .II, .movediv {display: none;}
    .map {height: 210px}
    .I {width: 210px;}
    .I.valheim {width:100%!important;}
    #twitter-widget-0 {width: calc(100% - 4px)!important;margin-right: 4px!important;}
}
@media only screen and (max-width: 850px) {
    .connectlink_cell span {display: none;}
}
@media only screen and (max-width: 750px) {
    .map {height: 180px}
    .I {width: 180px;}
    .I, .movediv, .connectlink_cell {display: none}
    .IV {min-width: 200px}
    .IV, .V {margin:auto;width: 100%;}
    .vchartdiv {padding: 12px 14px 10px 14px}
}
@media only screen and (max-width: 650px) {
    .status-letter-online, .server_list_table_top {display: none}
}
@media only screen and (max-width: 570px) {
    .players_cell, .IV {display: none!important}
    .container, .servername_cell {width: 100%}
    .vchartdiv {width: auto!important;}
    .container {padding-top: 20px;}
}