@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Mono');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
:focus {
	outline: none;
}
details summary::-webkit-details-marker {
	display:none;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 100vh;
	background-color: #1D1D1F;
	text-align: center;
	font-family: Montserrat, sans-serif;
	-ms-user-select: None;
	-moz-user-select: None;
	-webkit-user-select: None;
	user-select: None;

}
#nav {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	position: sticky;
	top: 0;
	overflow: auto;
}
#nav ul {
	background-color: #1D1D1F !important;
	list-style-type: none;
	text-align: left;
	background-color: #171c24ff;
}
#nav ul li {
	display: inline;
}
ul li a {
	display: inline-block;
	margin: 14px 16px;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	color: white;
}
section {
	color: black;
	background-color: #F5F5F5;
	margin-bottom: 10px;
}
.container {
	width: 80%;
	height: 17.5%;
	margin: auto;
	padding-top: 70px;
}
.status-letter-online, .status-letter-offline {
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-weight: bold;
	font-size: 13px;
	height: 112px;
}
.status-letter-online {
	display: block;
}
.status-letter-offline {
	display: none;
}
.status_icon_onl {
	width: 0.8rem;
	height: 7rem;
	padding: 0;
	margin: 0;
	border-radius: .125rem 0 0 .125rem;
	float: left;
}
.status_cell {
	width: 7%;
}
.connectlink_cell {
	width: 15%;
}
.connectlink_cell a {
	color: #007CFF;
	text-decoration: none;
	position: relative;
}
.servername_cell {
	width: 56%;
	letter-spacing: 1px;
}
.players_cell {
	width: 11%;
}
.server_list_table {
	color: black;
	width: 100%;
	font-family: Montserrat, sans-serif;
}
.server_list_table_top th {
	font-weight: normal;
	font-size: 23px;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}
.players_numeric {
	color: #FF0000;
	font-size: 25px;
	font-weight: bold;
	font-family: Helvetica Neue, sans-serif;
}
.sidebar {
	width: 9%;
	background-color: #e9e9e9;
}
.sidebar-button {
	width: 100%;
	border: none;
	padding: 15px 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #e9e9e9;;
}
.sidebar-button:hover {
	background-color: #bebebe!important;
}
.Überblick table {
	width: 100%;
}
.Spieler {
	width: 90%;
	flex: 0;
	margin: 5%;
}
.player-scroll {
	max-height: 220px;
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.map {
	width: 100%;
	border: 5px solid #888888;
	border-radius: 8px;
	box-sizing: border-box
}
.Daten {
	width: 20%;
	vertical-align: top;
}
.Leistung {
	width: 46%;
}
td.Spieler {
	border-style: solid;
	border-width: 2px;
	width: 17%;
}
td.format-html {
	background-color: #222;
}
::-webkit-scrollbar-corner {
	display: none;
}
@media only screen and (max-width: 1500px){
	td.Leistung {
		width: 43%;
	}
}
@media (max-width:1140px) {
	.Leistung {
		display:none;
	}
	td.format-html {
		width:10%;
	}
}
@media (max-width:1140px) {
	.servername_cell {
		width: 54%;
	}
}
@media only screen and (max-width: 1000px){
	.servername_cell {
		width: 50%;
	}
}
@media only screen and (max-width: 850px){
	.servername_cell {
		width: 45%;
	}
}
@media (max-width:750px) {
	td.format-html {
		display:none;
	}
	.server_list_table_top {
		display: none;
	}
	.servername_cell {
		width: auto;
	}
}

@media (max-width:725px) {
	td.connectlink_cell {
	display:none;
	}
}
@media only screen and (max-width: 725px){
	.modal-content {
		width: 100%;
	}
}
@media (max-width:530px) {
	.servername_nolink {
	-webkit-line-clamp: 2;
	}
	.status-letter-online {
	display: none
	}
	.status-letter-offline {
	display: none
	}
	.server_list_table_top {
	display: none
	}
	ul {
	display: none
	}
	.Daten {
	display: none
	}
}
