@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Mono');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
/* link hover start */
a.white-hover {
	color: white;
	text-decoration: none;
	position: relative
}
a.black-hover {
	color: black;
	text-decoration: none;
	position: relative
}
a.white-hover:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	border-bottom: 2px solid white;
	transition: .6s
}
a.black-hover:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	border-bottom: 2px solid #000;
	transition: .6s
}
a:hover:after{
	width: 100%
}
/* link hover end */

::marker{ display:none; } summary{ list-style: none }
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
:focus {
	outline: none;
}
details summary::-webkit-details-marker {
	display:none;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	min-height: 90vh;
	background-color: #1D1D1F;
	text-align: center;
	font-family: Montserrat, sans-serif;
	-ms-user-select: None;
	-moz-user-select: None;
	-webkit-user-select: None;
	user-select: None;

}
details table {
	width: 100%;
}
#nav {
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	position: sticky;
	top: 0;
	overflow: auto;
	height:58px;
	z-index: 10;
}
#nav ul {
	background-color: #1D1D1F !important;
	list-style-type: none;
	text-align: left;
	background-color: #171c24ff;
	display: flex;
	height: 58px;
}
#nav ul li {
	display: inline;
}
ul li a {
	display: inline-block;
	margin: 14px 16px;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	color: white;
}
#nav .login {
	display: flex;
	justify-content: center;
}
.login .button {
	margin: auto 13px;
	display: inline-block;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	color: white;
}
.user-avater {
	border: 5px solid #F5F5F5;
	height: calc(100% - 10px);
}
.white-inftext {
	color: white;
	font-size: x-large;
}
section {
	color: black;
	background-color: #F5F5F5;
	margin-bottom: 10px;
}
.container {
	width: 80%;
	height: 17.5%;
	margin: auto;
	padding-top: 70px;
}
.status-letter-online, .status-letter-offline {
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-weight: bold;
	font-size: 13px;
	height: 112px;
}
.status-letter-online {
	display: block;
}
.status-letter-offline {
	display: none;
}
.status_icon_onl {
	width: 0.8rem;
	height: 7rem;
	padding: 0;
	margin: 0;
	border-radius: .125rem 0 0 .125rem;
	float: left;
}
.status_cell {
	width: 7%;
}
.connectlink_cell {
	width: 15%;
}
.connectlink_cell a {
	color: #007CFF;
	text-decoration: none;
	position: relative;
}
.servername_cell {
	width: 56%;
	letter-spacing: 1px;
}
.players_cell {
	width: 11%;
}
.server_list_table {
	color: black;
	width: 100%;
	font-family: Montserrat, sans-serif;
}
.server_list_table_top th {
	font-weight: normal;
	font-size: 23px;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}
.players_numeric {
	color: #FF0000;
	font-size: 25px;
	font-weight: bold;
	font-family: Helvetica Neue, sans-serif;
}
.player-scroll {
	max-height: 228px;
	overflow-y: scroll;
	scroll-behavior: smooth;
	padding-top: 5px;
}
.map {
	width: 100%;
	border: 5px solid #888888;
	border-radius: 8px;
	box-sizing: border-box
}
::-webkit-scrollbar-corner {
	display: none;
}
.mods {
	text-align: center;
	margin: auto;
	padding: 0 7px;
}
.mods .modcontent {
	border-style: solid;
	border-width: 2px;
	width: 190px;
	height: 240px;
}
.vchartdiv {
	background-color: #1D1D1F;
	width: 195px;
	padding: 12px 10px 10px 10px;
}
.vchart {
	margin: auto;
}
.vchartdiv .servername p, .hchartdiv .servername p {
	font-family: Helvetica "Helvetica Neue", serif;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0 0 8px 0;
	letter-spacing: normal;
}
.vchartdiv .connectlink.vchart, .hchart {
	display: flex;
	justify-content: center;
}
.vchartdiv .connectlink a, .hchartdiv .connectlink a {
	color: #2e87ff;
	font-family: Helvetica,serif;
	font-size: 15px;
}
.vchartdiv .items {
	border-bottom: solid;
	border-color: rgb(70,70,70);
	margin: 0 0 8px 0;
	padding: 5px 0;

}
.vchartdiv .items svg, .hchartdiv .items svg {
	width: 25px;
	height: 25px;
	padding: 5px 2px 5px 5px;
}
.vchartdiv .items p, .hchartdiv .items p, .version {
	margin:auto 0!important;
	font-family: Helvetica,serif!important;
	font-size: 14px!important;
	letter-spacing: normal!important;
	color:white!important;
	letter-spacing: normal!important;
	text-align: left!important;
	padding: 5px 0!important;
}
.vchartdiv p, .hchartdiv p {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-stretch: expanded;
	margin: auto;
	text-align: center;
	color: white;
	letter-spacing: 2px;
}
.mod {
	color: white;
	font-size: 14px;
}
.width35 {
	width: 35%;
}
.width50 {
	width: 50%;
}
.flex {
	display: flex;
}
.hchartdiv details summary::-webkit-details-marker {
	display:inline-block;
}

.hchartdiv details {
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 5px;
	color: white;
}
.hchartdiv details[open] {
	padding: .5em;
}

.hchartdiv details[open] summary {
	border-bottom: 1px solid #aaa;
	margin-bottom: .5em;
}
.sidebar-button {
	width: 100%;
	border: none;
	padding: 15px 10px;
	font-size: 16px;
	cursor: pointer;
	background-color: #bebebe!important;
}
.sidebar-button:hover {
	background-color: #bebebe!important;
}
.sidebar {
	background-color: #e9e9e9;
	width: 130px;
}
.Informationen {
	width: 100%;
	padding: 4px;
}
.Daten {
	width: 30%;
}
.moredata {
	width: 100%;
	padding: 6px;
	line-height: 21px;
}
.moredata a {
	color: black;
}
.hchartdiv {
	background-color: #1D1D1F;
	padding: 12px 10px 10px 10px;
}
.hchartdiv .connectlink {
	text-align: left;
}
.hchartdiv .items svg {
	padding: 0;
}
.items .flex svg {
	padding: 0 3px;
}
.canvasparent {
	padding-top:5px;
	width: 100%;
	height: 140px;
}
.padding5055 {
	padding: 5px 0 5px 5px;
	vertical-align: top;
}
@media only screen and (max-width: 1230px){
	.canvasparent {
		width:626px;
		height: 135px;
	}
}@media only screen and (min-width: 1230px){
	.canvasparent {
		width:100%;
		height: 140px;
	}
	.Daten {
		min-width: 215px;
	}
}
@media only screen and (max-width: 1050px){
	.canvasparent {
		width:500px;
		height: 120px;
	}
}
@media only screen and (max-width: 1500px){
	.moredata {
		width: 43%;
	}
}
@media (max-width:1140px) {
	.moredata, .hideunderimg {
		display:none;
	}
	.servername_cell {
		width: 54%;
	}
	.Informationen {
		justify-content: center;
	}
	.Daten {
		width: auto;
	}
}
@media only screen and (max-width: 1000px){
	.servername_cell {
		width: 50%;
	}
}
@media only screen and (max-width: 950px){
	.canvasparent {
		width:450px;
		height: 95px;
	}
	.mcquery {
		display: none;
	}
}
@media only screen and (max-width: 850px){
	.servername_cell {
		width: 45%;
	}
	.sidebar {
		display: none;
	}
	.Daten {
		width: 100%;
	}
	.canvasparent {
		height: 140px;
		width: 350px;
	}

}
@media (max-width:800px) {
	.server_list_table_top {
		display: none;
	}
	.servername_cell {
		width: auto;
		max-width: 180px;
	}
	.padding5055 {
		padding: 0;
	}
}
@media only screen and (max-width: 750px){
	td.connectlink_cell {
		display:none;
	}
	.modal-content {
		width: 100%;
	}
	.container {
		width: 90%;
		padding-top: 20px;
	}
}
@media only screen and (max-width: 715px){
	.Daten {
		display: none;
	}
}
@media (max-width:570px) {
	.servername_nolink {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* number of lines to show */
		-webkit-box-orient: vertical;
		padding: 0 5px;
	}
	ul, .mods .modcontent, td.players_cell, .server_list_table_top, .status-letter-offline, .status-letter-online {
		display: none
	}
	.container {
		width: 100%;
	}
	.mods {
		padding: 2px;
	}
	.Informationen {
		display: block;
	}
	.status-letter-online, .vchartdiv {
		margin: auto;
	}
}