body {
    background-color: #e6e6e6;
}
.user-avater {
    border: 4px solid #F5F5F5;
}
.server_list_table_top th {
    color: black;
}
section {
    color: #ebebeb;
    background-color: #1D1D1F;
}
.connectlink_cell a {
    color: #007CFF;
}
.server_list_table {
    color: #ebebeb;
}
.players_numeric {
    color: #FF0000;
}
.II a {
    color: #d7d7d7;
}
.II.csgo th {
    color: black;
}
.map {
    border: 5px solid #888888;
}