@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-color: #151f34;
    color: white;
}
main {
    min-height: 100vh;
    background-color: #151f34;
    padding-left: 225px;
}
input:invalid {
    border: 2px dashed red;
    background-color: #ffc3c3;
}
.svg-circleplus { height: 100%; stroke: white; }
#topbar {
    display: none;
}
#sidebar {
    height: 100%;
    width: 225px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #161A24;
}

#sidebar button, .overlay-content button {
    color: white;
    font-family: Helvetica Neue, sans-serif;
    font-size: 28px;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #161A24;
    padding: 0;
    font-weight: 300;
}
#sidebar button.selected, .overlay-content button.selected {
    background-color: #2B2F43;
}
#sidebar button.bottom {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 225px;
    font-weight: 200 !important;
}
#sidebar button:hover{
    cursor: pointer;
    background-color: #2B2F43;
}
textarea.plain {
    display: none;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.serversnippet {
    width: 260px;
    height: 180px;
    background-color: #383B4F;
    border-radius: 6px;
    margin: 15px auto;
    cursor: pointer;
}
#open-span {
    color: white;
    font-size: 55px;
    position: fixed;
    right: 2px;
    cursor: pointer;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
    width: 100%;
}
.inlineflex {
    display: inline-flex;
}
.status {
    height: 100%;
    width: 10px;
    border-radius: 6px 0 0 6px;
}
.online {
    background-color: #00FF17;
}
.offline {
    background-color: #E20401;
}
.serversnippet .content {
    width: 100%;
    height: 100%;
}
.serversnippet .content .name{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 12px 0 2px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 42px;
}
.serversnippet .content .logo img{
    margin: auto;
}
.serversnippet .content .player{
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    font-family: Helvetica Neue, sans-serif;
    letter-spacing: 0.5px;
    color: #E20401;
}
.padding15 {
    padding: 15px;
}
.padding30 {
    padding: 12px 30px 30px;
    min-height: calc(100vh - 42px);
}
.width40 {
    width: 40%;
}
.marginauto {
    margin: auto;
}
.itemdiv {
    margin: 10px auto;
}
.extra {
    padding-top: 15px;
    border-radius: 6px;
}
.extra .item {
    width: 210px;
    height: 300px;
    border-radius: 6px;
    background-color: #383B4F;
    margin: auto;
}
.itemtitle {
    width: 210px;
    text-align: center;
    margin: auto;
    font-family: Helvetica Neue, sans-serif;
    font-size: 26px;
    padding: 5px 0;
}
.item p {
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 10px 0 0;
    font-weight: 300;
}
#markdown {
    font-family: Arial, serif;
    overflow-y: scroll;
    padding: 20px;
}
#markdown #newfeatures {
    margin: 0;
}
#markdown h1 {
    margin-bottom: 0;
}
#markdown ul {
    padding-left: 20px;
    margin-top: 10px;
}
#markdown p {
    font-family: Arial, serif;
    text-align: left;
    font-size: 16px;
}
#markdownsource {
    display: none;
}
#Hostname {
    font-family: Helvetica Neue, sans-serif;
    font-size: 31px;
    padding-top: 10px;
}
#tab1, #tab2 {
    cursor: pointer;
    -webkit-user-select: None;
}
.centeraddserverdiv {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.addserverdiv {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #2B2F43;
    border-radius: 14px;
    color: white;
}
.ctrlsett {
    display: flex;
}
.ctrlsett .control, .ctrlsett .settings {
    font-family: Helvetica Neue, monospace;
    font-weight: 300;
    padding: 8px 8px 5px;
    font-size: 25px;
}
label {
    font-family: Helvetica,sans-serif;
    font-size: 20px;
}
label #type {
    border-radius: 4px;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    height: 34px;
    border: none;
}
.padding25 {
    padding: 25px;
}
.events p {
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 10px 0 0;
    font-weight: 300;
}
.cAx {
    font-family: Helvetica,sans-serif;
    font-size: 20px;
}
.input {
    margin: 0 0 10px 0;
}
.log {
    margin: 10px auto;
    text-align: left;
    font-family: monospace;
    background-color: black;
    color: white;
    height: 160px;
    box-sizing: border-box;
    padding: 5px;
    overflow: scroll;
}
#confpopupparent {
    height: 100vh;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.57);
    z-index: 10;
    display:none
}
#confpopup p strong {
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
}
#confpopup {
    margin: auto;
    width: 450px;
    height: 205px;
    background-color: white;
    border-radius: 6px;
    color: black;
    z-index: 1;
}
#confpopup ul {
    list-style: none;
}
#confpopup .areyousure {
    font-family: "JetBrains Mono";
    padding: 10px;
    border-bottom: solid;
}
#confpopup .yesno {
    height: 45px;
    margin:0;
    padding: 0;
}
#confpopup .yesno button {
    width: 100%;
    text-align: center;
    line-height: 45px;
    color: white;
    border: none;
    background-color: #f33636;
    border-radius: 0 0 6px 6px;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1
}
#confpopup .yesno button:disabled {
    background-color: #5e5e5e;
    color: rgb(203, 203, 203);
    cursor: not-allowed;
}
#confpopup p {
    font-family: Helvetica, sans-serif;
    margin:0
}
#deletebtn {
    margin: 0;
    border-radius: 4px;
    padding: 5px 7px;
    font-family: Helvetica, serif;
    font-size: 16px;
    color: #ff433b;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #56596e;
    border: 2px solid #6f7182;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}
#deletebtn:hover {
    background-color: #ff433b;
    border: 2px solid #ff433b;
    color: white;
}
#deleteinput {
    border: 1px solid;
    border-radius: 6px;
    padding: 5px;
    width: -webkit-fill-available;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
#deleteinput {
    border: 1px solid;
    border-radius: 6px;
    padding: 5px;
    width: -webkit-fill-available;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
.settingsinput {
    border-radius: 4px;
    border: none;
    font-size: 14px;
    padding: 4px 8px;
}
.settings-inputline a img {
    margin: 4px 2px;
    cursor: pointer;
}
#input-domain-ip, #input-gport, #input-qport, #input-rport{
    width: -webkit-fill-available;
    padding: 0 5px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    font-size: 16px;
    height: 34px;
    font-family: Helvetica, sans-serif;
    outline: none;
}
#notes {
    font-family: Helvetica, sans-serif;
    color: #ff4949;
    font-size: 14px;
    min-height: 32px;
}
.addsrv {
    border: none;
    background-color: white;
    border-radius: 4px;
    float: right;
    height: 34px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 2px 10px;
    cursor: pointer;
    color: black;
}
.addsrv:hover {
    background-color: rgb(210, 210, 210);
}
.padding25 .input {
    margin: 0 0 10px 0;
}
#controlsettingsparent {
    height: 80vh;
    background-color: #383B4F;
    border-radius: 6px;
}
#control {
    height: 100%;
    display: flex;
}
#control .left {
    width:65%;
    border-right: solid;
    padding: 30px 40px;
}
#control .right {
    width:35%;
    padding: 30px 20px;
}
#servercontrol {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#servercontrol .button {
    width: 23%;
    border: none;
    border-radius: 8px;
    padding: 8px 0;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
    cursor: pointer;
    background-color: white;
}
#servercontrol .button:hover {
    background-color: #cdcdcd;
}
#servercontrol .button.disabled {
    cursor: not-allowed;
    color: #878787;
}
#servercontrol .button.disabled:hover {
    background-color: white;
}
#settings {
    display: none;
    padding: 20px 30px;
}
#tab1 {
    text-decoration: underline;
}
#serverinf table {
    width: 100%;
}
#serverinf table td, #serverinf table th {
    text-align: center;
    font-family: Helvetica, serif;
    margin: 0;
    font-size: 17px;
    letter-spacing: 1px;
}
#serverinf table td {
    text-align: center;
    background-color: #5a5d72;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 0;
}
.settings-inputline {
    display: flex;
    padding: 3px 0 0;
    width: 400px;
}
.settings-inputline label {
    margin: auto auto auto 0;
}
@media only screen and (max-width: 775px) {
    #sidebar, #sidebar button.bottom {
        width: 200px;
    }
    main {
        padding-left: 200px;
    }
    .width40 {
        width: 250px;
    }
    .extra .item {
        width: 250px;
    }
}
@media only screen and (max-width: 550px) {
    #sidebar, #sidebar button.bottom {
        width: 170px;
    }
    main {
        padding-left: 170px;
    }
}
@media only screen and (max-width: 500px) {
    #sidebar, #sidebar button.bottom {
        width: 140px;
    }
    main {
        padding-left: 140px;
    }
    .padding30 {
        padding: 12px 0 30px;
    }
    #Hostname {
        width: 90%;
        margin: auto;
    }
    #control, #settings {
        padding: 15px 10px;
    }
    .tableid {
        display: none;
    }
}
@media only screen and (max-width: 420px) {
    #sidebar, #sidebar button.bottom {
        display: none;
    }
    main {
        padding-left: 0;
    }
    #topbar {
        display: block;
    }
    .serversnippet {
        width: 340px;
    }
    .server {
        padding-top: 45px
    }
}